html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

header {
  padding: 10px 0;
  background: #3F51B5;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.content {
  padding: 0 0 80px;
  flex: 1;
  margin-top: 90px;
}


/* dashboard page */
.list-books-content {
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

.bookshelf-empty {
  width: 90vw;
  height: 200px;
  background-color: #e0e0e0;
  color: #777;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookshelf-empty .shelf-label {
  color: #444;
  font-weight: 900;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.icon-button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(190, 190, 190);
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.icon-button:hover {
  color: #ffffff;
  background-color: rgb(116, 116, 116);
  transition: all 0.2s ease-in-out;
}

.icon-button.default {
  background: rgb(240, 240, 240);
  color: #444;
}

.icon-button.default:hover {
  color: #ffffff;
  background-color: rgb(116, 116, 116);
}

.icon-button.green {
  background: #43A047;
  color: #ffffff;
}

.icon-button.green:hover {
  background-color: #2E7D32;
}

.icon-button.blue {
  background: #29B6F6;
  color: #ffffff;
}

.icon-button.blue:hover {
  background-color: #0288D1;
}


/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 68px;
  left: 0;
  z-index: 100000;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 50px 10px 20px;
}

.search-results-empty {
  width: 90vw;
  height: 200px;
  position: fixed;
  top: 150px;
  background-color: #e0e0e0;
  color: #777;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results-empty .shelf-label {
  color: #444;
  font-weight: 900;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-shelf-indicator {
  position: absolute;
  left: -5px;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #6085ff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-indicator svg {
  color: white;
  top: 3px;
  position: absolute;
  left: 4px;
  width: 0.5em;
  height: 0.5em;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* spinner */
.spinner-container {
  margin-top: 50px;
  width: 100px;
  height: 100px;
}
.spinner-container.fixed {
  position: fixed;
  top: 250px;
  width: 100px;
  height: 100px;
}
.spinner,
.spinner:before,
.spinner:after {
  background: #cccccc;
  -webkit-animation: spin1 1s infinite ease-in-out;
  animation: spin1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.spinner {
  color: #cccccc;
  text-indent: -9999em;
  margin: 30px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner:before,
.spinner:after {
  position: absolute;
  top: 0;
  content: '';
}
.spinner:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner:after {
  left: 1.5em;
}
@-webkit-keyframes spin1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes spin1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}